/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    position: relative;
  }
  
  #logo_link {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  
  .logo {
    width: 80px;
  }

  nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    padding: 25px;
  }
  
  nav a {
    text-decoration: none;
    color: gold;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #1026f1;
    display: inline-block; /* Ensure the links are displayed correctly */
  }
  
  nav a:hover {
    background-color: greenyellow;
  }
  
  .banner {
    width: 100%;
    display: block;
  }
  
  /* Section styles */
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .section-img {
    width: 100%; /* Adjust the width as needed */
    min-height: auto;
  }
  
  .home-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Button styles */
  .button-box {
    margin-top: 10px;
  }
  
  .book {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .contact{
    color: gold;
  }
  
  /* Footer styles */
  footer {
    background-color: #1026f1;
    color: gold;
    text-align: center;
    padding: 10px;
    display: flex;
    position: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    align-items: center;
}
  
  .footer p  {
    margin-bottom: 5px;
  }
  
  /* Social icons styles */
  .social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  
  /* Responsive styles for mobile phones and small screens */
@media screen and (max-width: 767px) {
    body {
      font-size: 14px; /* Adjust font size for smaller screens */
    }

    header {
      padding: 5px; /* Adjust header padding */
    }

    #logo_link {
      font-size: 18px; /* Adjust logo link font size */
    }

    nav, footer {
      flex-direction: column;
    }
    nav a {
      display: block;
      padding: 15px;
    }

    .banner {
      width: 100%; /* Make the banner take the full width of the screen */
      max-width: 100%; /* Ensure the banner doesn't exceed the screen width */
      height: auto; /* Maintain the aspect ratio */
    }

    h1 {
      font-size: 18px; /* Adjust heading font size */
      margin-bottom: 10px;
    }
  
    .section {
      flex-direction: column;
    }
  
    .section-img {
      width: 100%;
      margin-bottom: 10px;
    }

    footer {
      margin-top: 25px;
    }

    .social img {
      width: 20px; /* Adjust social icon size */
      height: 20px;
      margin: 0 3px; /* Adjust margin between social icons */
    }
}
  