/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    position: relative;
  }
  
  #logo_link {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  
  .logo {
    width: 80px;
  }

  nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    padding: 25px;
  }
  
  nav a {
    text-decoration: none;
    color: gold;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:  rgb(40, 40, 145);
    display: inline-block; /* Ensure the links are displayed correctly */
  }
  
  nav a:hover {
    background-color: greenyellow;
  }
  
  .banner {
    width: 100%;
    display: block;
  }
  
  /* Section styles */
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .section-img {
    width: 100%; /* Adjust the width as needed */
    min-height: auto;
  }
  
  .home-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Button styles */
  .button-box {
    margin-top: 10px;
  }
  
  .book {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  .contact{
    color: gold;
  }
  
  /* Footer styles */
  footer {
    background-color: rgb(40, 40, 145);
    color: gold;
    text-align: center;
    padding: 10px;
    display: flex;
    position: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    align-items: center;
}
  
  .footer p  {
    margin-bottom: 5px;
  }
  
  /* Social icons styles */
  .social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    nav {
      top: 50px;
      right: 10px;
    }
  
    #logo_link {
      top: 50px;
      left: 10px;
    }
  
    .section {
      flex-direction: column;
    }
  
    .section-img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  