body {
    text-align: center;
  }
  
  nav {
    background-color: steelblue;
    padding: 10px;
  }
  
  a {
    color: white;
    margin: 40px;
    text-decoration: none; /* Remove underlines */
  }
  
  a.active {
    color: green;
  }
  
  h1 {
    color: steelblue;
  }
  
  img {
    width: 70%;
    border: 4px solid steelblue;
  }
  
  p {
    padding: 10px;
  }  

/* Footer styles */
footer {
  background-color: rgb(40, 40, 145);
  color: gold;
  text-align: center;
  padding: 10px;
  display: flex;
  position: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  align-items: center;
}

.footer p {
  margin-bottom: 5px;
}

/* Social icons styles */
.social img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
  .slideshow-container {
    height: 400px; /* Replace this with the actual height of your images */
    overflow: hidden;
    position: relative; /* For absolute positioning of images inside */
  }
  
  .mySlides {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 150%;
    display: flex;
    align-items: center;  /* To vertically center the image if it's smaller than the container */
    justify-content: center; /* To horizontally center the image */
  }
  
  .mySlides img {
    max-height: 100%;
    max-width: 100%;
  }
  
  