body {
    font-family: 'Arial', sans-serif;
    background-color: #b4c9bd;
}

header {
    position: relative;
    background-color: #043112; 
    color: #ffffff; 
    padding: 10px;
    text-align: center;
    font-family: "Quicksand";
}

#logo_link {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  #logo_link img {
    width: 70px; 
    margin-right: 10px; 
  }

nav {
    position: relative;
    z-index: 2;
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff; 
    display: inline-block; 
}

nav a:hover {
    background-color: #0056b3; 
}

.container {
    max-width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: #3eaa74;
    border-radius: 8px;
}

.timer {
    font-size: 20px;
    margin-bottom: 20px;
    color: red;
}

.question {
    margin-bottom: 20px;
}

 /* Footer styles */
 footer {
    background-color: #043112; 
    color: #ffffff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    align-items: center;
  }
  
  .footer p {
    margin-bottom: 5px;
  }
  
  /* Social icons styles */
  .social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }

/* Media Query for responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 14px; 
    }

    .container {
        max-width: 80%; 
        margin: 20px auto;
    }

    .timer {
        font-size: 16px; 
    }

    .question {
        margin-bottom: 10px; 
    }
}
