
.logo-nav-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
    margin-right: 40px; /* Add some margin for spacing */
}

nav {
    margin-left: auto; /* Push the navigation to the right */
    display: flex;
    gap: 20px; /* Adjust the gap for even spacing */
}

body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; 
    color: #09110c; 
    padding: 10px;
}

h1, h2 {
    text-align: center;
}

/* Header styles */
header {
    background-color: #212129;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo {
    max-width: 100px;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Footer styles */
footer {
    background-color: #18231C; 
    color: gold;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.footer p {
    margin-bottom: 5px;
}

.social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 1.5em;
    }

    
}
