

/* Default Styles */
body {
  font-family: 'Arial', sans-serif;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #141615;
}

.container1 {
  background-color: #111114;
  color: white;
  padding: 10px;
}

.container1, a  {
  color: gold;
}


#content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #111114;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social img {
  width: 30px;
  margin: 0 5px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
  #content {
      padding: 10px;
  }
  
  input,
  textarea,
  button {
      width: 100%;
      box-sizing: border-box;
  }
}

/* Additional Styles for Message Feedback */
#feedback {
  display: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.moveDown {
  margin-top: 50px;
}
  footer {
    margin-top: 15px;
  }

  .social img {
    width: 20px; /* Adjust social icon size */
    height: 20px;
    margin: 0 3px; /* Adjust margin between social icons */
  }


 