body {
  font-family: Arial, sans-serif;
  background-color: #1b1111; /* Light gray background */
  color: #333333; /* Dark gray text color */
  padding: 10px;
  box-sizing: border-box;
}

/* Header styles */
header {
  position: relative;
  background-color: #07568b; /* Blue header background */
  color: gold;
  padding: 10px;
  text-align: center;
}

.banner {
  width: 100%;
  display: block;
}

#logo_link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  text-decoration: none;
  color: gold;
  font-size: 24px;
  font-weight: bold;
}

#logo_link img {
  width: 70px; /* Adjust logo width as needed */
  margin-right: 10px; /* Add margin for separation between logo and text */
}

nav a {
  text-decoration: none;
  color: gold; /* White text for navigation links */
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0f140f; /* Green background for navigation links */
  display: inline-block;
}

nav a:hover {
  background-color: #a9ccab; /* Darker green on hover */
}

/* Title Section Styles */
.title-section h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3498db; /* Blue heading color */
}

/* Card Colors */
.card-mt4 {
  background-color: #1723c9; /* Blue color for card-mt4 */
  color: gold; /* White text on blue background */
}

.card-mt4-1 {
  background-color: #e74c3c; /* Red color for card-mt4-1 */
  color: gold; /* White text on red background */
}

.card-mt5 {
  background-color: rgb(60, 189, 9); /* Green color for card-mt5 */
  color: gold; /* White text on green background */
}

.card-mt6 {
  background-color: #e67e22; /* Orange color for card-mt6 */
  color: gold; /* White text on orange background */
}

.card-mt7 {
  background-color: rgb(116, 29, 150); /* Purple color for card-mt7 */
  color: gold; /* White text on purple background */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: goldenrod;
}

p {
  text-align: center;
  margin-bottom: 20px;
}
/* Footer styles */
footer {
  background-color: #07568b; /* Blue footer background */
  color: gold;
  text-align: center;
  padding: 10px;
  display: flex;
  position: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  align-items: center;
}
  .footer p {
    margin-bottom: 5px;
  }
  
  /* Social icons styles */
  .social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  
  /* Responsive styles for mobile phones and small screens */
@media screen and (max-width: 767px) {
    body {
      font-size: 14px; /* Adjust font size for smaller screens */
    }

    header {
      padding: 5px; /* Adjust header padding */
      flex-direction: column; /* Stack logo and navigation vertically */
      text-align: center; /* Center text in header */
    }

    #logo_link {
      font-size: 18px; /* Adjust logo link font size */
    }
    nav, footer {
      flex-direction: column;
    }
    nav a {
      display: block;
      padding: 15px;
      margin-bottom: 10px;
    }
    .banner {
      width: 100%; /* Make the banner take the full width of the screen */
      max-width: 100%; /* Ensure the banner doesn't exceed the screen width */
      height: auto; /* Maintain the aspect ratio */
    }
    h1 {
      font-size: 18px; /* Adjust heading font size */
      margin-bottom: 10px;
    }
    .card-mt4, .card-mt5, .card-mt4-1, .card-mt6, .card-mt7, .card-img-top {
      flex-direction: column; /* Adjust container layout for smaller screens */
      align-items: center;
    }
    .container {
      flex: 1;
      min-height: auto; /* Adjust minimum height for containers */
      margin-right: 0;
      margin-bottom: 10px; /* Add margin between containers */
    }
    .container h2 {
      font-size: 16px; /* Adjust heading font size inside containers */
    }
    .card-link {
      padding: 15px; /* Adjust container link padding */
    }
    footer {
    margin-top: 25px;
    }
    .social img {
      width: 20px; /* Adjust social icon size */
      height: 20px;
      margin: 0 3px; /* Adjust margin between social icons */
    }
}
