body {
  font-family: 'Arial', sans-serif;
  font-size: 1.3em;
  background-color: #1b1111; 
  color: #0b2c15; 
  padding: 10px;
  box-sizing: border-box;
}

/* Header styles */
header {
  position: relative;
  background-color: #18231C; 
  padding: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.banner {
  width: 50%;
  display: block;
}

#logo_link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  text-decoration: none;
  color: gold;
  font-size: 24px;
  font-weight: bold;
}

#logo_link img {
  width: 70px; 
  margin-right: 10px; 
}

nav a {
  text-decoration: none;
  color: gold; 
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0f140f; 
  display: inline-block;
}

nav a:hover {
  background-color: #a9ccab; 
}

/* Title Section Styles */
.title-section h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #3498db; 
}

/* Card Colors */
.card-mt4 {
  background-color: #1723c9; 
  color: gold; 
}

.card-mt4-1 {
  background-color: #00c925; 
  color: white; 
}

.card-mt5 {
  background-color: rgb(9, 87, 189); 
  color: gold; 
}

.card-mt6 {
  background-color: #1b1b15; 
  color: gold; 
}

.card-mt7 {
  background-color: #181a3b; 
  color: gold; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: goldenrod;
}

h4 {
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: goldenrod;
  z-index: -1;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #18231C; 
  color: gold;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  align-items: center;
}
  .footer p {
    margin-bottom: 5px;
  }
  
  /* Social icons styles */
  .social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }

  
#mySidenav a {
  position: absolute; 
  left: -80px; 
  transition: 0.3s; 
  padding: 15px; 
  width: 100px; 
  text-decoration: none; 
  color: white; 
  border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
  left: 0; 
}

#about {
  top: 20px;
  background-color: #04AA6D;
}

#blog {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 140px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}
 
  /* Responsive styles for mobile phones and small screens */
@media screen and (max-width: 767px) {
    body {
      font-size: 14px; /* Adjust font size for smaller screens */
    }

    header {
      padding: 5px; 
      flex-direction: column; 
      text-align: center; 
    }

    #logo_link {
      font-size: 18px; 
    }
    nav, footer {
      flex-direction: column;
    }
    nav a {
      display: block;
      padding: 15px;
      margin-bottom: 10px;
    }
    .banner {
      width: 100%; /* Make the banner take the full width of the screen */
      max-width: 100%; /* Ensure the banner doesn't exceed the screen width */
      height: auto; /* Maintain the aspect ratio */
    }
    h1 {
      font-size: 18px; /* Adjust heading font size */
      margin-bottom: 10px;
    }
    .card-mt4, .card-mt5, .card-mt4-1, .card-mt6, .card-mt7, .card-img-top {
      flex-direction: column; /* Adjust container layout for smaller screens */
      align-items: center;
    }
    .container {
      flex: 1;
      min-height: auto; /* Adjust minimum height for containers */
      margin-right: 0;
      margin-bottom: 10px; /* Add margin between containers */
    }
    .container h2 {
      font-size: 16px; /* Adjust heading font size inside containers */
    }
    .card-link {
      padding: 15px; /* Adjust container link padding */
    }
    footer {
    margin-top: 25px;
    }
    .social img {
      width: 20px; /* Adjust social icon size */
      height: 20px;
      margin: 0 3px; /* Adjust margin between social icons */
    }
}
