 
body {
    font-family: 'Roboto';
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
}

header {
    position: relative;
    background-color: #043112; 
    color: #ffffff; 
    padding: 10px;
    text-align: center;
    font-family: "Quicksand";
}

#logo_link {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
  
  #logo_link img {
    width: 70px; 
    margin-right: 10px; 
}

nav {
    position: relative;
    display: flex; 
    justify-content: center;
    margin-top: 10px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff; 
    display: inline-block; 
}

nav a:hover {
    background-color: #0056b3; 
}

.student-page {
    padding: 20px;
    text-align: center;
}

.student-page img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

footer {
    background-color: #043112; 
    color: #ffffff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    align-items: center;
    position: relative;
}

  
.footer p {
    margin-bottom: 5px;
}
  

.social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/* Responsive Styles for Smaller Screens */
@media screen and (max-width: 767px) {
    body {
      font-size: 14px; /* Adjust font size for smaller screens */
    }

    header {
      padding: 5px; /* Adjust header padding */
      flex-direction: column; /* Stack logo and navigation vertically */
      text-align: center; 
    }

    #logo_link {
      font-size: 18px; /* Adjust logo link font size */
    }

    nav, footer {
      flex-direction: column;
    }

    nav a {
      display: block;
      padding: 15px;
      margin-bottom: 10px; /* Add margin between navigation links */
    }

    .student-page img {
      margin-top: 15px; /* Add space between advertisement image and text */
    }

    .student-page {
      margin-top: 10px;
    }

    footer {
      margin-top: 15px;
    }

    .social img {
      width: 20px; /* Adjust social icon size */
      height: 20px;
      margin: 0 3px; /* Adjust margin between social icons */
    }
}