 
body {
    font-family: 'Roboto';
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
}

header {
    position: relative;
    background-color: #043112; 
    color: #ffffff; 
    padding: 10px;
    text-align: center;
    font-family: "Quicksand";
}

#logo_link {
    position: absolute;
    top: 10px;
    left: 10px;
    
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
  
  #logo_link img {
    width: 70px; 
    margin-right: 10px; 
}

nav {
    position: relative;
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff; 
    display: inline-block; 
}

nav a:hover {
    background-color: #0056b3; 
}

.student-page {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #043112; 
    color: #ffffff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    align-items: center;
    position: relative;
}

  
.footer p {
    margin-bottom: 5px;
}
  

.social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}*

.slideshow-container {
    height: 400px; /* Replace this with the actual height of your images */
    overflow: hidden;
    position: relative; /* For absolute positioning of images inside */
  }
  
.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 150%;
    display: flex;
    align-items: center; /* To vertically center the image if it's smaller than the container */
    justify-content: center; /* To horizontally center the image */
}
  
.mySlides img {
    max-height: 100%;
    max-width: 100%;
}
  

  

@media (max-width: 768px) {
    .logo-nav-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .login-container {
        max-width: 100%;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    .profile-section, .courses-section, .grades-section, .attendance-section {
        margin-bottom: 20px;
    }

    table {
        font-size: 14px;
    }
    .grades-list,
    .assignments-list {
    flex-direction: column;
    }

    .grade-item,
    .assignment-item {
    width: 100%;
    }
}